.container{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1em;
}

.content{
    width: 90%;
    margin: 0 auto;
}

.content img{
    width: 100%;
    border-radius: 20px;
    border: #f6cc7e 2px solid;
}

.container h2{
    color: #f6cc7e;
    font-size: 1.75rem;
}

.p1 p, .p2 p{
    margin-top: 0;
}

.p1 h4, .p2 h4{
    margin-bottom: 0.5em;
}

@media (min-width:1000px){
    .content {
        display: grid;
        gap: 20px;
        grid-template-areas: 
        ".img1 .p1"
        ".p2 .img2";
    }

    .p1 {
        grid-area: p1;
    }
    
    .p2{
        grid-area: p2;
    }
    
    .img1{
        grid-area: img1;
    }
    
    .img2 {
        grid-area: img2;
    }

    .container h2{
        font-size: 3em;
        margin-bottom: 1em;
    }

    .p1, .p2{
        align-self: center;
    }

    .p1 h4, .p2 h4{
        font-size: 1.5em;
    }
    .p1 p, .p2 p{
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

@media (min-width:1000px){
    .container{
      max-width: 1000px;
    }
  }